node_modules

/.cache
**/dist
target
/logs
/public
/public/process-editor
.env

eslint.xml
report.xml
playwright-report
test-results
.ivy-engine
bom.json

/app/translation/**/*_old.json

.react-router/
