.artifact-info-card {
  background: var(--N50);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  flex: 1 0 300px;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  .artifact-icon {
    font-size: 35px;
    color: var(--P75);
  }
  .artifact-info-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--N800);
    font-size: 20px;
  }
  .artifact-title {
    font-weight: 600;
  }
  .artifact-info-center {
    padding: 12px;
  }
}
.artifact-info-card:hover {
  box-shadow: var(--focus-shadow);
}
