.artifact-card {
  position: relative;
  flex: 0 1 200px;
  background: var(--N75);
  border-radius: 10px;
  white-space: nowrap;
  .card {
    border: none;
    border-radius: 10px;
    padding: 0;
    background: transparent;
    height: 150px;
    width: 100%;
    cursor: pointer;
    color: inherit;
    .card-content {
      padding: var(--size-2);
      height: calc(100% - 2 * var(--size-2));
    }
    .card-preview {
      background: var(--background);
      border-radius: 8px;
      flex: 1 0 auto;
      width: 200px;
      svg,
      img {
        height: 100px;
        width: 200px;
        object-fit: contain;
      }
    }
    .card-name {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: calc(200px - var(--size-1) - 20px);
    }
  }
  .normal-card:hover {
    background-color: var(--N200);
  }
  .card-menu-trigger {
    position: absolute;
    bottom: var(--size-1);
    right: var(--size-2);
  }
}

.new-artifact-card {
  background: var(--P50);
  color: var(--P300);
}

.new-artifact-card:hover {
  background: var(--P75);
}

.card-menu .card-delete {
  color: var(--error-color);
}
