.artifact-card {
  position: relative;
  flex: 0 1 210px;
  white-space: nowrap;
  font-size: 14px;
  .card {
    padding: 0;
    cursor: pointer;
    background: var(--N50);
    border: var(--basic-border);
    border-radius: 6px;
    width: 210px;
    height: 110px;
    svg,
    img {
      padding: 5px;
      height: 100px;
      width: 200px;
      object-fit: contain;
    }
    &:hover {
      border: var(--activ-border);
    }
  }
  .card-name {
    max-width: calc(210px - var(--size-2) - 20px);
    cursor: default;
    > span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .card-description {
    color: var(--N800);
    font-size: 12px;
  }
}
